doctype html
html(lang='en')
  head
    title About me
    link(rel="stylesheet", href="./stylesheets/main.css")
  body
    .container
      header
      section
        .section-left
          img(src="pic/IMG_0193.JPG", alt="")
          .info
            h2 你好！我是名偉
            p 一直以來我都不算是很正經的學生，又帶有點白目的叛逆，愛鬼混的我念過好幾所大學，
              |浪費過大把光陰，因緣際會下，轉進資管系，經過一番學習後才發現，原來以前國小和姐姐一起玩的東西是CSS（當初很流行留言版），
              |當初裝好的Visual Basic不是只是一團英文，能夠有機會接觸到小時候一直有興趣的技術令我感到非常的幸運！
        .section-right
          h2 想做想學的事
          .goal
            ul
              li 計算機知識
              li 學學設計
              li UI/UX(心理學挺有趣)
              li 前後端技術
              li 打打CTF
              li 參與開源社群(firefox)
              li 加强數學基礎
              li 自己寫游戲
              li 學寫外掛
      footer
        p Ming-Wei 2018 ST2DE